<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hello vue.js</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="simple">
        <h2>{{ message }}</h2>
    </div>
    <script type="text/javascript">
        var model = {
            message: '첫 번째 Vue.js 앱입니다.'
        };

        var simple = new Vue({
            el: '#simple',
            data: model
        })
    </script>
</body>

</html>