<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>게시판 관리</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<h1>관리자님 환영합니다.</h1>
		<h4>게시 글 목록으로 <a th:href="@{/board/getBoardList}">이동</a></h4>
	</body>
</html>