<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>02-11</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="example">
        <span v-once>{{message}}</span>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#example",
            data: {
                message: "Hello World"
            }
        })
    </script>
</body>

</html>