<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>02-11</title>
    <style>
        #list {
            width: 40px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
    </style>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="example">
        <p>
            국가명 : <input type="text" v-model="countryname" placeholder="국가명" @input="nameChanged" />
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>국가명</th>
                    <th>수도</th>
                    <th>지역</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="c in filtered">
                    <td>{{c.no}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.capital}}</td>
                    <td>{{c.region}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var model = {
            countryname: "",
            countries: [{
                no: 1,
                name: "미국",
                capital: "워싱턴DC",
                region: "america"
            }, {
                no: 2,
                name: "프랑스",
                capital: "파리",
                region: "europe"
            }, {
                no: 3,
                name: "영국",
                capital: "런던",
                region: "europe"
            }, {
                no: 4,
                name: "태국",
                capital: "방콕",
                region: "asia"
            }, {
                no: 5,
                name: "모로코",
                capital: "라바트",
                region: "africa"
            }]
        }

        var client = new Vue({
            el: "#example",
            data: model,
            computed: {
                filtered: function() {
                    var cname = this.countryname.trim();
                    return this.countries.filter(function(item, index) {
                        if (item.name.indexOf(cname) > -1) {
                            return true;
                        }
                    });
                }
            },
            methods: {
                nameChanged: function(e) {
                    this.countryname = e.target.value;
                }
            },
        });
    </script>
</body>

</html>