<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>타임리프 테스트</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body th:align="center">
		<h1 th:text="${greeting}"></h1>
	</body>
</html>