<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, height = device-height,
                                       initial-scale = 1">

        <title>보내준 메세지 확인</title>

        <link href="/public/semantic.min.css" rel="stylesheet">
        <link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet">
        
        <script src="/public/jquery-3.4.1.min.js"></script>
        <script src="/public/semantic.min.js"></script>
        
        <script type="text/javascript">
            function listpost(a,b){
                location.href="/process/listpost?page="+a+"&perPage="+b;
            }
        </script>
        
    </head>
    <body>
        <div class="ui grid">
            <div class="two wid column">번호</div>
            <div class="eight wide column">제목</div>
            <div class="two wide column">작성자</div>
            <div class="two wide column">작성일</div>
            <div class="two wide column">조횟수</div>
        </div>
        
        <div class="ui very relaxed selection celled list">
            <% var noStart = (pageCount - page) *perPage;
            
                for(var i =0; i <posts.length; i++){
                    var curTitle = posts[i]._doc.title;
                    var curContents = posts[i]._doc.contents;
                    var curWriter = posts[i]._doc.writer.email;
                    var curNo = noStart - i;
                    
                    console.log('확인 : '+curTitle+', '+curContents+', '+curWriter+', '+curNo);
            %>
            <div class="item">
                <div class="ui grid">
                    <div class="two wid column"><%= curNo %></div>
                        <div class="fourteen wid column"
                         onclick="javascript : window.location = '/process/showpost/<%= posts[i]._id%>'">
                        <div class="ui header">
                            <h4 class="ui left aligned header">
                                <%= curTitle %>
                            </h4>
                            <h5 class="ui right aligned orange header">
                                <%= curWriter%>&nbsp;&nbsp;
                                2015-06-01 &nbsp;&nbsp;
                                12 &nbsp;&nbsp;
                            </h5>
                        </div>
                        </div>
                </div>
            </div>
            <% } %>
            
            <div class="tiny ui basic buttons">
                <%
                    if(page>0){
                %>
                <div class="ui icon button" onclick="listpost(0,<%= perPage%>)">
                 <i class="fast backward icon"></i>
                </div>
                <div class="ui icon button" onclick="listpost(<%= (page-1)%>,<%= perPage%>)">
                 <i class="left chevron icon"></i>
                </div>
                <%
                }else{
                %>
                <div class="ui disabled icon button">
                 <i class="fast backward icon"></i>
                </div>
                <div class="ui disabled icon button">
                 <i class="left chevron icon"></i>
                </div>
                <%
                }
                %>
                <%
                    var initial = Math.floor(page/10) * 10;
                    console.log('initial : '+initial);
                
                    var max = pageCount - initial;
                    if(max > 10){
                        max = initial + 10;
                    }else{
                        max = initial + max;
                    }
                    console.log('max : '+max);
                    for(var i = initial; i < max; i++){
                        if(i !=page){
                %>
                <div class="ui button" onclick="listpost(<%= i %>,<%= perPage %>)">
                    <%= i %>
                </div>
                <%
                }else{
                %>
                <div class="ui active basic button">
                    <%= i %>
                </div>
                <%
                }
                }
                %>
                <%
                 if((page+1)<pageCount){
                %>
                <div class="ui icon button" onclick="listpost(<%= (page+1) %>,<%= perPage %>)">
                 <i class="right chevron icon"></i>
                </div>
                <div class="ui icon button" onclick="listpost(<%= (pageCount - 1) %>,
                        <%= perPage %>)">
                 <i class="fast forward icon"></i>
                </div>
                <%
                } else{
                %>
                <div class="ui disabled icon button">
                 <i class="right chevron icon"></i>
                </div>
                <div class="ui disabled icon button">
                 <i class="fast forward icon"></i>
                </div>
                <%
                }
                %>
            </div>
        </div>
    </body>
</html>