<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, height = device-height,
                                       initial-scale = 1">

        <title>보내준 메세지 확인</title>

        <link href="/public/semantic.min.css" rel="stylesheet">
        <link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet">
        
        <script src="/public/jquery-3.4.1.min.js"></script>
        <script src="/public/semantic.min.js"></script>
        <script src="/public/cleditor/jquery.cleditor.min.js"></script>
        
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            html{
                width: 100%;
                height: 100%;
            }
            body{
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
            }
            
            #cardbox{
                width: 70%;
            }
            #iconImage{
                display: inline;
            }
            #titleText{
                font-size: 1.4em;
                font-weight: bold;
                color: #777;
            }
            #contentsText{
                color: #999;
            }
            #form1 {
                padding: 1em;
            }
            .row{
                height: 3em;
            }
            .col1{
                width: 5em;
            }
            .inputbox{
                width: 20em;
            }
            #buttonContainer{
                padding-top: 0.6em;
                text-align: right;
            }
            
        </style>
        
    </head>
    <body>
        <div class="ui blue fluid card">
            <div class="content">
                <%
                    var curTitle = posts._doc.title;
                    var curContents = posts._doc.contents;
                    var curWriter = posts._doc.writer.id;
                
                   // var entities = new Entities();
                   // var decodedContents = entities.decode(curContents);
                %>
                
                <div id="titleOutput" class="header"><%= curTitle %></div>
                <div class="meta">
                    <span class="right floated time">1일전</span>
                    <span class="category">일반</span>
                </div>
                <div id="contentsOutput" class="description">
                    <%= curContents %>
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    <img class="ui avatar image" src="/public/author.png"> <%= curWriter%>
                </div>
            </div>
        </div>
    </body>
</html>