<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>02-08</title>
    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
    </style>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="example">
        <select id="regions">
            <option disabled="disabled" selected>지역을 선택하세요</option>
            <option v-for="(val,key,index) in regions" v-bind:value="key">{{index+1}}:{{val}}</option>
       </select>
    </div>
    <script type="text/javascript">
        var regions = {
            "A": "Asia",
            "B": "America",
            "C": "Europe",
            "D": "Africa",
            "E": "Oceania"
        }

        var list = new Vue({
            el: '#example',
            data: {
                regions: regions
            }
        })
    </script>
</body>

</html>