<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>06-16</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<template id="listTemplate">
        <li>{{message}}</li>
    </template>
<script type="text/javascript">
    Vue.component('list-component', {
        template: '#listTemplate',
        props: {
            message: {
                type: String,
                default: '안녕하세요'
            },
            count: {
                type: Number,
                require: true
            },
            countries: {
                type: Array,
                default: function() {
                    return ['대한민국'];
                }
            }
        }
    })
</script>

<body>
    <div id="app">
        <ul>
            <list-component message="Hello" v-bind:count="100" v-bind:countries="['미국','영국','호주']"></list-component>
            <list-component message="씬짜오" :count="21" :countries="['베트남']"></list-component>
            <list-component message="니하오마" :countries="['중국','타이완']"></list-component>
            <list-component :count="1000"></list-component>
        </ul>
    </div>
</body>
<script type="text/javascript">
    Vue.config.dectool = true;
    var vm = new Vue({
        el: '#app'
    })
</script>

</html>