<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>03-01</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="test">
        {{name}}
    </div>
    <script type="text/javascript">
        var model = {
            name: "홍길동"
        }
        var vm = new Vue({
            el: "#test",
            data: model,
            created: function() {
                console.log("Created!!");
            },
            updated: function() {
                console.log("updated!!");
                console.log(this.name);
            }
        })
    </script>
</body>

</html>