<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>03-05</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="example">
        x: <input type="text" v-model="x" /> </br>
        y: <input type="text" v-model="y" /> </br>
        덧셈 결과 : {{sum}}
    </div>
    <script type="text/javascript">
        var vmSum = new Vue({
            el: "#example",
            data: {
                x: 0,
                y: 0
            },
            computed: {
                sum: function() {
                    var result = Number(this.x) + Number(this.y);
                    if (isNaN(result)) return 0;
                    else return result;
                }
            },
        })
    </script>
</body>

</html>