<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, height = device-height,
                                       initial-scale = 1">

        <title>홈 화면</title>

        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <style>
            body{padding-top :80px;}

            @font-face{
                font-family : 'Nanum Gothic'; font-style :normal; font-weight :400;
                src: url('../pulic/NanumGothic-Regular.eot');
                src: local('NanumGothic'),
                    url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
                    url('../public/NanumGothic-Regular.woff2') format('woff2'),
                    url('../public/NanumGothic-Regular.woff') format('woff'),
                    url('../public/NanumGothic-Regular.ttf') format('truetype');
            }

            h1, p, a{font-family :'Nanum Gothic'} 
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-shooping-cart"></span>쇼핑몰 홈</h1>
                <br>
                <p>로그인하세요.</p>
                <p>계정이 없으시면 회원가입하세요.</p>
                <br>
                <a href="/login" class="btn btn-default">
                    <span class="fa fa-user"></span>로그인
                </a>
                <a href="/signup" class="btn btn-default">
                    <span class="fa fa-user"></span> 회원가입
                </a>
                <a href="/auth/facebook" class="btn btn-primary">
                    <span class="fa fa-facebook"></span>
                    페이스북으로 로그인
                </a>
            </div>
        </div>
    </body>
</html>