<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
	</head>
	<body>
		<h1><font color="green">SQLException 발생!</font></h1>
		<a th:href="@{/}">메인 화면으로</a><hr>
		<table>
			<tr>
				<th bgcolor="green" align="left">예외 메세지: [[${exception.message}]]</th>
			</tr>
			<tr th:each="trace : ${exception.stackTrace}">
				<td th:text=${trace}>
			</tr>
		</table>
	</body>
</html>