<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>접근 권한 에러</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
		<h3>죄송합니다. 페이지에 대한 접근 권한이 없네요.^^</h3>
		<h4>다시 로그인을 원하시면 <a th:href="@{/login}">여기</a></h4>
	</body>
</html>