<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>로그인 성공</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
		<h3><font color="red">로그인 인증을 성공하셨습니다.^^</font></h3>
		<h5><a th:href="@{/}">INDEX 페이지로 이동</a></h5>
		<h5><a th:href="@{/member}">Member 페이지로 이동</a></h5>
		<h5><a th:href="@{/manager}">Manager 전용 페이지로 이동</a></h5>
		<h5><a th:href="@{/admin}">admin 전용 페이지로 이동</a></h5>
	</body>
</html>