<html xmlns="http://www.thymeleaf.org">
	<head>
		<title>시큐리티 테스트</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
		<h1>Manager 권한을 가진 사용자를 위한 화면입니다.</h1>
		<a th:href="@{/loginSuccess}">뒤로 가기</a>
		
		<form action="logout" method="get">
			<input type="submit" value="로그아웃"></input>
		</form>
	</body>
</html>