<html xmlns="http://www.thymeleaf.org">
	<head>
		<title>시큐리티 테스트</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
		<h1>로그인 성공한 사용자만 접근할 수 있는 화면입니다.</h1>
		<a th:href="@{/loginSuccess}">뒤로 가기</a>
	</body>
</html>